//Mediaquerys
@media screen and (max-width:697px){
    .principal{
        h2{
            font-size: 30px; 
        }

        a{
            font-size:15px; 
        }
    }

    .sponsors{
        h2{
            font-size:15px ; 
        }
    }
    .contenedor-footer{
        flex-direction: column;
        align-items: center;
    }
    .redes-footer{
       padding: 0px;
       width: 100%;
       flex-direction: column;
       text-align: center;
       padding-top: 1rem;
    }
}

@media screen and (max-width:1105px){
    .lista-jugadores{
        flex-direction: column;
        padding-left: 0;
        gap: 2rem;
        li{
            width:100%; 
        }
    }

    .principal-equipo{
        p{
            padding: 0 10% 0 10%;  
        }
    }

    .container-banner{
        width: 100%;
        height: 213px;
        background-position: center;
    }
    
}

@media screen and (max-width:846px){
   .historia{
        p{
            font-size: 20px;   
        }
   } 
   .logros{
        p{
            font-size: 20px;
        }
   }
}

@media screen and (max-width:500px){
    .historia{
        p{
            font-size: 20px;   
        }
   } 
   .logros{
        p{
            font-size: 20px;
        }
   }
}

@media screen and (max-width:900px) {
    .productos{
        flex-direction: column;
        gap: 2rem;
    }

    .container-banner-tienda{
        width: 100%;
        height: 213px;
        background-position: center;
    }
}